*{
    box-sizing: border-box;
}
.parent {
    margin: 20px auto;
    width: 800px;
    height: 500px;
    background-color:#eee;
    display: grid;
    grid-template-columns: repeat(4,auto);
}
.parent div {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
